<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Lender Dashboard</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light border">
        <a class="navbar-brand" href="/"><i class="ml-3 fas fa-home"></i></a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text col text-left appHeading">StorageVault</span>

            <a class="mr-2 mt-2 mb-1 nav-item nav-link btn btn-light col-auto"
               href="/consumerDashboard">Dashboard</a>
            <a class="mr-2 mt-2 mb-1 nav-item nav-link btn btn-light col-auto"
               href="/spaceRequest">Space Request</a>
            <a class="mr-2 mt-2 mb-1 nav-item nav-link btn btn-light col-auto"
               href="/storageRetrieval">Storage/Retrieval</a>
            <div class="btn-group">
                <button type="button" class="nav-item nav-link btn btn-light col-auto">Market Place</button>
                <button type="button"
                        class="nav-item nav-link btn btn-light dropdown-toggle dropdown-toggle-split col-auto"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sell">Sell</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/products">Buy</a>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="nav-item nav-link btn btn-light col-auto"><i class="ml-3 fas fa-user"></i><span th:text="${userName}"></span></button>
                <button type="button"
                        class="nav-item nav-link btn btn-light dropdown-toggle dropdown-toggle-split col-auto"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/users/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-6 mx-auto mt-4">
            <p style="color: #00308F; font: 24px 'Raleway';opacity: 0.6;font-weight: bolder; text-align:center">Storage Space Usage Details</p>
            <div class="d-flex flex-column flex-nowrap">
                <div th:each="spaceRequest: ${spaceRequests}">
                    <div class="card card-body emphasize-dark mt-2">
                        <div class="card-columns">
                        </div>
                        <div class="col-form-label">
                            <br>
                            <div>
                                <span th:utext="${#strings.replace(spaceRequest, T(org.apache.commons.lang3.StringUtils).LF, '&lt;br /&gt;')}"></span>
                            </div>
                            <div class="bs-example">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" th:width="${percentage}"><span th:text="${percentageValue}"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
<footer id="sticky-footer">
    <div class="container-fluid bg-secondary">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-9">
                    <p class="text-white">Copyright@2021StorageVault.All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>