<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Device Lending</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light border">
        <a class="navbar-brand" href="/"><i class="ml-3 fas fa-home"></i></a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text col text-left appHeading">StorageVault</span>

            <a class="mr-2 mt-2 mb-1 nav-item nav-link btn btn-light col-auto"
               href="/lenderDashboard">Dashboard</a>
            <a class="mr-2 mt-2 mb-1 nav-item nav-link btn btn-light col-auto"
               href="/deviceLending">Device Lending</a>
            <div class="btn-group">
                <button type="button" class="nav-item nav-link btn btn-light col-auto">Market Place</button>
                <button type="button"
                        class="nav-item nav-link btn btn-light dropdown-toggle dropdown-toggle-split col-auto"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sell">Sell</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/products">Buy</a>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="nav-item nav-link btn btn-light col-auto"><i class="ml-3 fas fa-user"></i><span th:text="${userName}"></span></button>
                <button type="button"
                        class="nav-item nav-link btn btn-light dropdown-toggle dropdown-toggle-split col-auto"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/users/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<form method="POST" enctype="multipart/form-data" action="/product/save">
<div class="container-fluid">
    <div class="container emphasize-dark">
    <div class="row">
        <div class="col-md-6 mx-auto mt-4">
            <div class="col-md-12" style="float:left">
                <div class="card mt-2 mb-4">
                    <div class="card-body">
                     <p style="color: #00308F; font: 24px 'Raleway';opacity: 0.6;font-weight: bolder; text-align:center">Sell Your Storage Devices</p>

                        <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" class="form-control" id="name" name="name" required="required">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control"  id="description" name="description" required="required"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="seller">Seller Name</label>
                            <input class="form-control" id="seller" name="seller" required="required">
                        </div>

                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" name="price" id="price" required="required">
                        </div>

                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" class="form-control"  name="image" id="image" required="required">
                        </div>
                        <button class="btn btn-primary" id="postId" type="submit" value="Upload">Create Post</button>

                    </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>

<script type="application/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
$(document).ready(function() {
$("#postId").click(function(){
alert("Successfully Posted");
});
})
</script>
</body>
</html>
<footer id="sticky-footer">
    <div class="container-fluid bg-secondary">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-9">
                    <p class="text-white">Copyright@2021StorageVault.All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>